.Tabs {
    overflow: hidden;
    background-color: rgb(20, 20, 20);
    margin: 0 10%;
}

.Tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 18%;
    color: white;
    font-size: 20px;
}
/* Change background color of buttons on hover */
.Tabs button:hover {
    background-color: #2e2e2e;
}

/* Create an active/current tablink class */
.Tabs button.active {
    background-color: #ccc;
}